@charset "UTF-8";

/* IE service */
/* html, div, textarea { scrollbar-3dlight-color:#b4b4b4; scrollbar-arrow-color:#333333; scrollbar-base-color:#eeeeee; scrollbar-darkshadow-color:#ffffff; scrollbar-face-color:#eeeeee; scrollbar-highlight-color:#ffffff; scrollbar-shadow-color:#b4b4b4; } */

/* Text */
.bo			{ font-weight:bold !important; }
.no			{ font-weight:normal !important; }
.dot		{ font-family:dotum !important; }
.gul		{ font-family:gulim !important; }
.ari		{ font-family:arial !important; }
.ver		{ font-family:verdana !important; }
.tah		{ font-family:tahoma !important; }
.fw700		{ font-weight:700 !important; }
.fw400		{ font-weight:400 !important; }

.fs0		{ font-size:0px !important; }
.fs1		{ font-size:1px !important; }
.fs9		{ font-size:9px !important; }
.fs10		{ font-size:10px !important; }
.fs11		{ font-size:11px !important; }
.fs12		{ font-size:12px !important; }
.fs13		{ font-size:13px !important; }
.fs14		{ font-size:14px !important; }
.fs15		{ font-size:15px !important; }
.fs16		{ font-size:16px !important; }
.fs17		{ font-size:17px !important; }
.fs18		{ font-size:18px !important; }
.fs19		{ font-size:19px !important; }
.fs20		{ font-size:20px !important; }

.lh12		{ line-height:1.2em !important; }
.lh14		{ line-height:1.4em !important; }
.lh15		{ line-height:1.5em !important; }
.lh16		{ line-height:1.6em !important; }
.lh17		{ line-height:1.7em !important; }
.lh18		{ line-height:1.8em !important; }
.lh19		{ line-height:1.9em !important; }
.lh20		{ line-height:2.0em !important; }

.c000		{ color:#000000 !important; }
.c333		{ color:#333333 !important; }
.c444		{ color:#444444 !important; }
.c555		{ color:#555555 !important; }
.c666		{ color:#666666 !important; }
.c777		{ color:#777777 !important; }
.c888		{ color:#888888 !important; }
.c999		{ color:#999999 !important; }
.caaa		{ color:#aaaaaa !important; }
.cbbb		{ color:#bbbbbb !important; }
.cccc		{ color:#cccccc !important; }
.cddd		{ color:#dddddd !important; }
.ceee		{ color:#eeeeee !important; }
.cfff		{ color:#ffffff !important; }
.cf00		{ color:#ff0000 !important; }
.c0f0		{ color:#00ff00 !important; }
.c00f		{ color:#0000ff !important; }
.cff0		{ color:#ffff00 !important; }
.cf60		{ color:#ff6600 !important; }
.c06f		{ color:#0066ff !important; }
.cfff		{ color:#ffffff !important; }
.ls0		{ letter-spacing:0 !important; }
.ls_1		{ letter-spacing:-1px !important; }
.ls_2		{ letter-spacing:-2px !important; }
.ti_10		{ padding-left:10px; text-indent:-10px !important; }

/* Align */
.l			{ text-align:left !important; }
.c			{ text-align:center !important; }
.r			{ text-align:right !important; }
.t			{ vertical-align:top !important; }
.m			{ vertical-align:middle !important; }
.b			{ vertical-align:bottom !important; }
.just		{ text-align:justify; }
.thl th		{ text-align:left !important; }
.thc th		{ text-align:center !important; }
.thr th		{ text-align:right !important; }
.tdl td		{ text-align:left !important; }
.tdc td		{ text-align:center !important; }
.tdr td	 	{ text-align:right !important; }
.tdt td	 	{ vertical-align:top !important; }
.fl			{ float:left !important; }
.fr			{ float:right !important; }
.clear		{ clear:both; }
.auto		{ margin:0 auto; }

/* Box, Background */
.fix		{ table-layout:fixed; }
.di	 		{ display:inline; }
.db			{ display:block; }
.dib		{ display:inline-block; *display:inline; *zoom:1; }
.dn			{ display:none; }
.bx			{ border:none !important; }
.btx		{ border-top:none !important; }
.brx		{ border-right:none !important; }
.bbx		{ border-bottom:none !important; }
.blx		{ border-left:none !important; }
.bw1		{ border-width:1px !important; }
.bw2		{ border-width:2px !important; }
.bw3		{ border-width:3px !important; }
.das		{ border-style:dashed !important; }
.trans		{ background:transparent !important; }
.bgn		{ background:none !important; }

/* ETC */
.relative	{ position:relative; }
.absolute	{ position:absolute; }
.hand		{ cursor:pointer; }
.abs7		{ vertical-align:middle; *margin:-4px -3px -3px -4px; _margin:-4px -3px -3px -4px; }
.iir	 	{ *margin:-1px 0 -1px 0; _margin:-1px 0 -1px 0; }
.ibp		{ *padding:2px 4px 0 4px; _padding:2px 4px 0 4px; }

/* Margin, Padding */
.m0			{ margin:0 !important; }
.p0			{ padding:0 !important; }
.mp0		{ margin:0 !important; padding:0 !important; }

.mt_1		{ margin-top:-1px !important; }
.mt0		{ margin-top:0 !important; }
.mt1		{ margin-top:1px !important; }
.mt2		{ margin-top:2px !important; }
.mt3		{ margin-top:3px !important; }
.mt4		{ margin-top:4px !important; }
.mt5		{ margin-top:5px !important; }
.mt6		{ margin-top:6px !important; }
.mt7		{ margin-top:7px !important; }
.mt8		{ margin-top:8px !important; }
.mt9		{ margin-top:9px !important; }
.mt10		{ margin-top:10px !important; }
.mt11		{ margin-top:11px !important; }
.mt12		{ margin-top:12px !important; }
.mt13		{ margin-top:13px !important; }
.mt14		{ margin-top:14px !important; }
.mt15		{ margin-top:15px !important; }
.mt16		{ margin-top:16px !important; }
.mt17		{ margin-top:17px !important; }
.mt18		{ margin-top:18px !important; }
.mt19		{ margin-top:19px !important; }
.mt20		{ margin-top:20px !important; }
.mt25		{ margin-top:25px !important; }
.mt30		{ margin-top:30px !important; }
.mt35		{ margin-top:35px !important; }
.mt40		{ margin-top:40px !important; }
.mt45		{ margin-top:45px !important; }
.mt50		{ margin-top:50px !important; }
.mt60		{ margin-top:60px !important; }
.mt70		{ margin-top:70px !important; }
.mt80		{ margin-top:80px !important; }
.mt90		{ margin-top:90px !important; }
.mt100		{ margin-top:100px !important; }

.mb0		{ margin-bottom:0 !important; }
.mb1		{ margin-bottom:1px !important; }
.mb2		{ margin-bottom:2px !important; }
.mb3		{ margin-bottom:3px !important; }
.mb4		{ margin-bottom:4px !important; }
.mb5		{ margin-bottom:5px !important; }
.mb6		{ margin-bottom:6px !important; }
.mb7		{ margin-bottom:7px !important; }
.mb8		{ margin-bottom:8px !important; }
.mb9		{ margin-bottom:9px !important; }
.mb10		{ margin-bottom:10px !important; }
.mb15		{ margin-bottom:15px !important; }
.mb20		{ margin-bottom:20px !important; }
.mb25		{ margin-bottom:25px !important; }
.mb30		{ margin-bottom:30px !important; }
.mb35		{ margin-bottom:35px !important; }
.mb40		{ margin-bottom:40px !important; }
.mb50		{ margin-bottom:50px !important; }
.mb60		{ margin-bottom:60px !important; }
.mb70		{ margin-bottom:70px !important; }
.mb80		{ margin-bottom:80px !important; }
.mb90		{ margin-bottom:90px !important; }
.mb100		{ margin-bottom:100px !important; }

.mr0		{ margin-right:0 !important; }
.mr1		{ margin-right:1px !important; }
.mr2		{ margin-right:2px !important; }
.mr3		{ margin-right:3px !important; }
.mr4		{ margin-right:4px !important; }
.mr5		{ margin-right:5px !important; }
.mr6		{ margin-right:6px !important; }
.mr7		{ margin-right:7px !important; }
.mr8		{ margin-right:8px !important; }
.mr9		{ margin-right:9px !important; }
.mr10		{ margin-right:10px !important; }
.mr11		{ margin-right:11px !important; }
.mr12		{ margin-right:12px !important; }
.mr13		{ margin-right:13px !important; }
.mr14		{ margin-right:14px !important; }
.mr15		{ margin-right:15px !important; }
.mr16		{ margin-right:16px !important; }
.mr17		{ margin-right:17px !important; }
.mr18		{ margin-right:18px !important; }
.mr19		{ margin-right:19px !important; }
.mr20		{ margin-right:20px !important; }
.mr25		{ margin-right:25px !important; }
.mr30		{ margin-right:30px !important; }
.mr35		{ margin-right:35px !important; }
.mr40		{ margin-right:40px !important; }

.ml0		{ margin-left:0 !important; }
.ml1		{ margin-left:1px !important; }
.ml2		{ margin-left:2px !important; }
.ml3		{ margin-left:3px !important; }
.ml4		{ margin-left:4px !important; }
.ml5		{ margin-left:5px !important; }
.ml6		{ margin-left:6px !important; }
.ml7		{ margin-left:7px !important; }
.ml8		{ margin-left:8px !important; }
.ml9		{ margin-left:9px !important; }
.ml10		{ margin-left:10px !important; }
.ml11		{ margin-left:11px !important; }
.ml12		{ margin-left:12px !important; }
.ml13		{ margin-left:13px !important; }
.ml14		{ margin-left:14px !important; }
.ml15		{ margin-left:15px !important; }
.ml16		{ margin-left:16px !important; }
.ml17		{ margin-left:17px !important; }
.ml18		{ margin-left:18px !important; }
.ml19		{ margin-left:19px !important; }
.ml20		{ margin-left:20px !important; }
.ml25		{ margin-left:25px !important; }
.ml30		{ margin-left:30px !important; }
.ml35		{ margin-left:35px !important; }
.ml40		{ margin-left:40px !important; }
.ml50		{ margin-left:50px !important; }

.mb_1		{ margin-bottom:-1px !important; }
.mb_2		{ margin-bottom:-2px !important; }
.mb_3		{ margin-bottom:-3px !important; }

.p1			{ padding:1px !important; }
.p2			{ padding:2px !important; }
.p3			{ padding:3px !important; }
.p4			{ padding:4px !important; }
.p5			{ padding:5px !important; }
.p6			{ padding:6px !important; }
.p7			{ padding:7px !important; }
.p8			{ padding:8px !important; }
.p9			{ padding:9px !important; }
.p10		{ padding:10px !important; }
.p15		{ padding:15px !important; }
.p20		{ padding:20px !important; }
.p25		{ padding:25px !important; }
.p30		{ padding:30px !important; }
.p35		{ padding:35px !important; }
.p40		{ padding:40px !important; }

.pt0		{ padding-top:0 !important; }
.pt1		{ padding-top:1px !important; }
.pt2		{ padding-top:2px !important; }
.pt3		{ padding-top:3px !important; }
.pt4		{ padding-top:4px !important; }
.pt5		{ padding-top:5px !important; }
.pt6		{ padding-top:6px !important; }
.pt7		{ padding-top:7px !important; }
.pt8		{ padding-top:8px !important; }
.pt9		{ padding-top:9px !important; }
.pt10		{ padding-top:10px !important; }
.pt11		{ padding-top:11px !important; }
.pt12		{ padding-top:12px !important; }
.pt13		{ padding-top:13px !important; }
.pt14		{ padding-top:14px !important; }
.pt15		{ padding-top:15px !important; }
.pt16		{ padding-top:16px !important; }
.pt17		{ padding-top:17px !important; }
.pt18		{ padding-top:18px !important; }
.pt19		{ padding-top:19px !important; }
.pt20		{ padding-top:20px !important; }
.pt25		{ padding-top:25px !important; }
.pt30		{ padding-top:30px !important; }
.pt35		{ padding-top:35px !important; }
.pt40		{ padding-top:40px !important; }
.pt45		{ padding-top:45px !important; }
.pt50		{ padding-top:50px !important; }
.pt60		{ padding-top:60px !important; }
.pt70		{ padding-top:70px !important; }
.pt80		{ padding-top:80px !important; }
.pt90		{ padding-top:90px !important; }
.pt100		{ padding-top:100px !important; }

.pb0		{ padding-bottom:0 !important; }
.pb1		{ padding-bottom:1px !important; }
.pb2		{ padding-bottom:2px !important; }
.pb3		{ padding-bottom:3px !important; }
.pb4		{ padding-bottom:4px !important; }
.pb5		{ padding-bottom:5px !important; }
.pb6		{ padding-bottom:6px !important; }
.pb7		{ padding-bottom:7px !important; }
.pb8		{ padding-bottom:8px !important; }
.pb9		{ padding-bottom:9px !important; }
.pb10		{ padding-bottom:10px !important; }
.pb11		{ padding-bottom:11px !important; }
.pb12		{ padding-bottom:12px !important; }
.pb13		{ padding-bottom:13px !important; }
.pb14		{ padding-bottom:14px !important; }
.pb15		{ padding-bottom:15px !important; }
.pb16		{ padding-bottom:16px !important; }
.pb17		{ padding-bottom:17px !important; }
.pb18		{ padding-bottom:18px !important; }
.pb19		{ padding-bottom:19px !important; }
.pb20		{ padding-bottom:20px !important; }
.pb25		{ padding-bottom:25px !important; }
.pb30		{ padding-bottom:30px !important; }
.pb35		{ padding-bottom:35px !important; }
.pb40		{ padding-bottom:40px !important; }
.pb45		{ padding-bottom:45px !important; }
.pb50		{ padding-bottom:50px !important; }
.pb60		{ padding-bottom:60px !important; }
.pb70		{ padding-bottom:70px !important; }
.pb80		{ padding-bottom:80px !important; }
.pb90		{ padding-bottom:90px !important; }
.pb100		{ padding-bottom:100px !important; }

.pr0		{ padding-right:0 !important; }
.pr1		{ padding-right:1px !important; }
.pr2		{ padding-right:2px !important; }
.pr3		{ padding-right:3px !important; }
.pr4		{ padding-right:4px !important; }
.pr5		{ padding-right:5px !important; }
.pr6		{ padding-right:6px !important; }
.pr7		{ padding-right:7px !important; }
.pr8		{ padding-right:8px !important; }
.pr9		{ padding-right:9px !important; }
.pr10		{ padding-right:10px !important; }
.pr11		{ padding-right:11px !important; }
.pr12		{ padding-right:12px !important; }
.pr13		{ padding-right:13px !important; }
.pr14		{ padding-right:14px !important; }
.pr15		{ padding-right:15px !important; }
.pr16		{ padding-right:16px !important; }
.pr17		{ padding-right:17px !important; }
.pr18		{ padding-right:18px !important; }
.pr19		{ padding-right:19px !important; }
.pr20		{ padding-right:20px !important; }
.pr25		{ padding-right:25px !important; }
.pr30		{ padding-right:30px !important; }
.pr35		{ padding-right:35px !important; }
.pr40		{ padding-right:40px !important; }
.pr50		{ padding-right:50px !important; }
.pr60		{ padding-right:60px !important; }
.pr70		{ padding-right:70px !important; }
.pr80		{ padding-right:80px !important; }
.pr90		{ padding-right:90px !important; }
.pr100		{ padding-right:100px !important; }

.pl0		{ padding-left:0 !important; }
.pl1		{ padding-left:1px !important; }
.pl2		{ padding-left:2px !important; }
.pl3		{ padding-left:3px !important; }
.pl4		{ padding-left:4px !important; }
.pl5		{ padding-left:5px !important; }
.pl6		{ padding-left:6px !important; }
.pl7		{ padding-left:7px !important; }
.pl8		{ padding-left:8px !important; }
.pl9		{ padding-left:9px !important; }
.pl10		{ padding-left:10px !important; }
.pl11		{ padding-left:11px !important; }
.pl12		{ padding-left:12px !important; }
.pl13		{ padding-left:13px !important; }
.pl14		{ padding-left:14px !important; }
.pl15		{ padding-left:15px !important; }
.pl16		{ padding-left:16px !important; }
.pl17		{ padding-left:17px !important; }
.pl18		{ padding-left:18px !important; }
.pl19		{ padding-left:19px !important; }
.pl20		{ padding-left:20px !important; }
.pl25		{ padding-left:25px !important; }
.pl30		{ padding-left:30px !important; }
.pl35		{ padding-left:35px !important; }
.pl40		{ padding-left:40px !important; }
.pl50		{ padding-left:50px !important; }
.pl60		{ padding-left:60px !important; }
.pl70		{ padding-left:70px !important; }
.pl80		{ padding-left:80px !important; }
.pl90		{ padding-left:90px !important; }
.pl100		{ padding-left:100px !important; }

/* Width, Height */
.wmax	{ width:100%; }

/* Media Print */
@media print{
	.print_x			{ display:none; }
}
